body {
  font-family: "Lato", sans-serif;
  font-display: swap;
  font-size: 1rem;
  font-size: 16px;
  background-color: #1A1B1D;
  color: #BEBEBE;
  margin: 0;
}

.small-text {
  font-size: small;
  text-align: center;
}

